.body {
    background-color: #9bbbd4;
}
.chat-content {
  height: 350px;
  overflow-y: scroll;
}
.line {
  margin-top: 10px;
  display: flex;
}
.chat-box {
border: none;
border-radius: 5px;
  background: #fef01b;
  padding-right: 10px;
  max-width: 200px;
}
.chat {
    border: none;
    border-radius: 5px;
      background: #fff;
      padding-right: 10px;
      max-width: 200px;
    }
.chat-send {
        border: none;
        border-radius: 5px;
          background: #fff;
          padding-right: 62%;
          margin-left: 20px;
          max-width: 200px;
        }

.mine {
  margin-left: auto;
}
